<form [formGroup]="enrollmentForm">
  <div class="form-group">
    <input formControlName = "userName" type="text" class="username" placeholder="Username" [(ngModel)]="user" required><br>
    <input formControlName = "age" type="text" class="age" placeholder="Age" [(ngModel)]="age" required>
  </div>
  <button type="submit" class="btn-primary btn" (click)="onSubmitClicked($event)">Submit</button>
  <button type="submit" class="btn-primary btn get-btn" (click)="onGet()">Get</button>
</form>

<table style="margin-left: 10px;">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
  <tr *ngFor="let item of showAll; index as i">
    <td >{{item.id}}</td>
    <td>{{item.userName}}</td>
    <td>{{item.age}}</td>
    <td><button class="btn btn-warning" (click)="onEdit(item, i)">EDIT</button></td>
    <td><button class="btn btn-danger" (click)="onDelete(item.id)">DELETE</button></td>
  </tr>
</table>

<router-outlet></router-outlet>
