.username,
.age{
    padding: 4px 0 6px 0;
    margin: 20px 10px;
    outline: none;
}

.age{ margin-top: 0;}

.form-group{
    display: inline;
}

.get-btn{
    margin-left: .7rem;
}

table, tr, td{
    border: 1px solid #000;
}

td{
    padding: 5px 10px;
}
